<div class="flex flex-col pt-4 px-4 text-white w-full h-full">
    <div class="flex w-full top-4 items-center border-b border-[#363636] justify-between">
        <h1 class="text-lg sm:w-max">Inbox <span class="text-[12px] text-[#eee]/50">{{date | date: 'EEEE, MMM d YYYY'}}</span><span class="text-[12px] text-[#eee]/50 flex sm:w-full sm:justify-center">{{date | date: 'hh:mm:ss a'}}</span></h1>
        <!-- adding task to the current inbox i.e if its today, it adds to today -->
        <button (click)="addSection()" class="select-none flex items-center text-[12px] drop-shadow p-1 rounded hover:bg-[#eee]/20 duration-200 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6">
                <path fillRule="evenodd" d="M12 5.25a.75.75 0 01.75.75v5.25H18a.75.75 0 010 1.5h-5.25V18a.75.75 0 01-1.5 0v-5.25H6a.75.75 0 010-1.5h5.25V6a.75.75 0 01.75-.75z" clipRule="evenodd" />
            </svg>
            Add Section <!-- add section instead of task-->
        </button>
    </div>
    <!-- Page content -->
    <div class="w-full flex px-8 pt-8 h-full relative overflow-x-auto overflow-y-hidden scrollbar-thin scrollbar-thumb-slate-100 scrollbar-thumb-rounded">
        <div class="absolute flex gap-10 h-[90%]">
            <div *ngFor="let me of workspace.db.me.sections; let index = index" class="relative w-72 group h-full rounded-lg">
                <div [ngClass]="{'border-opacity-0': tasks.scrollTop === 0}" class="flex items-center border-b-2 gap-2 border-[#484848] pb-2">
                    <span class="text-[16px] text-[#eee]/80 w-full">{{me.title}} <span class="text-[12px] text-[#eee]/40">{{workspace.db.me.sections[index].tasks.length}}</span></span>
                    <!-- Add task to section -->
                    <svg #addTask (click)="components.addTaskFunc(addTask, index)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 cursor-pointer transition-all duration-200 hover:bg-[#eee]/30 rounded">
                        <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <!-- shift index left -->
                    <svg (click)="shiftLeft(index)" *ngIf="index > 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 cursor-pointer transition-all duration-200 hover:bg-[#eee]/30 rounded">
                        <path fillRule="evenodd" d="M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z" clipRule="evenodd" />
                    </svg>
                    <!-- shift index right -->
                    <svg (click)="shiftRight(index)" *ngIf="index !== workspace.db.me.sections.length - 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 cursor-pointer transition-all duration-200 hover:bg-[#eee]/30 rounded">
                        <path fillRule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clipRule="evenodd" />
                    </svg>
                    <!-- section settings -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 cursor-pointer transition-all duration-200 hover:bg-[#eee]/30 rounded">
                        <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
                    </svg>
                </div>
                <div #tasks [ngClass]="{'border-opacity-0': (tasks.offsetHeight + tasks.scrollTop) >= tasks.scrollHeight}" class="overflow-y-auto h-full gap-4 flex flex-col pr-3 border-b-2 border-[#484848] scrollbar-thin group-hover:scrollbar-thumb-slate-100 group-hover:scrollbar-track-slate-900 scrollbar-thumb-rounded scrollbar-track-rounded pl-2">
                    <div #task [ngClass]="{'border-green-300 hover:border-green-600': task.priority === 'Low', 'border-orange-300 hover:border-orange-600': task.priority === 'Medium', 'border-red-700 hover:border-red-900': task.priority === 'High', 'border-[#3d3d3d] hover:border-[#585858]': task.priority === 'None'}" (click)="components.loadTaskInfo(task.title, task.description, task.priority, task.created, task.due, me.title, index, taskIndex); components.addTaskEditor(task)" *ngFor="let task of me.tasks; let taskIndex = index" class="flex gap-2 select-none cursor-pointer transition-all duration-200 bg-[#242424] p-2 shadow-lg rounded-lg border">
                        <div class="flex flex-col gap-1 w-full overflow-hidden">
                            <span class="text-[14px] text-[#eee]/70 overflow-hidden">{{task.title | truncate: 34}}</span>
                            <span class="text-[12px] text-[#eee]/40">{{task.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>