<!-- Notes/TODO's for TODO app
  // 







 -->



 <div class="text-slate-300 h-[40rem] sm:h-screen flex flex-col place-contents-center place-items-center justify-center gap-8">
    <div class="flex justify-center text-center sm:text-left">
      <p class="text-2xl drop-shadow">To-Do website application <br>by <span class="group">
        <a href="https://github.com/makima-desu" target="_blank" class="outline-none bg-bottom bg-no-repeat bg-gradient-to-t from-teal-600 to-teal-600 bg-[length:100%_2px] group-hover:bg-[length:100%_40%] group-hover:text-teal-50 font-bold transition-all duration-300 ease-in">makima-desu</a></span>
      </p>
    </div>
    <div class="">
      <!-- button to workspace -->
      <a routerLink="workspace" (click)="createWorkspace()" class="group"><span class="bg-bottom rounded bg-gradient-to-r outline outline-2 outline-teal-200 border-teal-200 group-hover:text-slate-50 bg-slate-900 font-bold from-teal-700 to-teal-700 py-2 px-4 bg-repeat-y bg-[length:0%_1px] group-hover:bg-[length:100%_1px] transition-all duration-300">Get started</span></a>
      <h3 class="text-center text-sm mt-4 opacity-70 underline">it's free.</h3>
    </div>
    <div class="mt-10">
      <h1 class="font-bold drop-shadow text-xl">What mdesu To-Do offers</h1>
    </div>
  </div>
  