<!-- TODO 
    // add settings menu
    // add task editing menu
    // Calendar
    // Projects
 -->

 <div class="flex">
    <app-add-task *ngIf="components.addTask" class=""></app-add-task>
    <app-add-inbox-sidebar *ngIf="components.addInbox"></app-add-inbox-sidebar>
    <app-workspace-settings *ngIf="components.workspaceSettings"></app-workspace-settings>
    <app-task-editor *ngIf="components.taskEditor"></app-task-editor>
    <app-edit-category *ngIf="components.editCategory"></app-edit-category>
    <app-sidebar></app-sidebar>
    <div class="w-full h-screen">
        <router-outlet></router-outlet>
    </div>
</div>