<!-- TODO 
    // add settings menu
    // add task editing menu
    // Calendar
    // Projects
 -->

 <div class="flex">
    <app-add-task *ngIf="componentsService.addTask" class=""></app-add-task>
    <app-add-inbox-sidebar *ngIf="componentsService.addInbox"></app-add-inbox-sidebar>
    <app-workspace-settings *ngIf="componentsService.workspaceSettings"></app-workspace-settings>
    <app-task-editor *ngIf="componentsService.taskEditor"></app-task-editor>
    <!-- section editor -->
    <app-sidebar></app-sidebar>
    <!--  -->
    <div class="w-full h-screen">
        <router-outlet></router-outlet>
    </div>
</div>